# Entornos virtuales
.gitignore
venv/
ENV/
env/
.venv/

# Archivos de Python compilados
__pycache__/
*.py[cod]
*.pyo

# Config VSCode
.vscode/

# Archivos de entorno
.env
.python-version


# Otros archivos
IA/data-gen/data/*

.env.dev
dockerfile.lambda
IA/app/lambda_function.py
IA/test-lab/lambda-request.py
ia-env/*

