boto3==1.38.36
botocore==1.38.36
fastapi==0.115.12
GeoAlchemy2==0.17.1
geopandas==1.1.0
matplotlib==3.10.3
matplotlib-inline==0.1.7
numpy==2.2.6
pandas==2.3.0
pydantic==2.11.6
pydantic_core==2.33.2
python-dotenv==1.1.0
requests==2.32.4
spacy==3.8.7
SQLAlchemy==2.0.41
uvicorn==0.34.3
