# Core
fastapi
uvicorn[standard]
pydantic
python-dotenv

starlette #para CORS

# AWS
boto3
botocore

# OpenSearch
opensearch-py
requests

# PostgreSQL
psycopg2-binary

# ORMs (opcional si usas SQLAlchemy)
SQLAlchemy

#langchain
langchain
langchain-aws

